
.navbar {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:1rem;
  background-color: transparent; 
}

.navbar img {
  width: 80px;
}

.hamburger {
  display: none;
}

@media screen and (max-width: 940px) {
  .hamburger {
      display: flex;
  }
}
